#pathfinder {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

#pathfinder-header {
    grid-area: header;
}

#pathfinder-body {
    grid-area: content;
}

#pathfinder-footer {
    grid-area: footer;
}